div(align="center")
    if coin == 'LSK'
        i Developed by dakk (2324852447570841050L)
        if all
            br
            i with server by gregorst, domain by redsn0w and the support of the Italian Lisk Community. 
    else
        i Developed by davideg (7725849364280821971S)
    
    br
    a(href="http://github.com/dakk/lisk-delegate-monitor", target="_blank") Github