head
	if coin == 'LSK'
		title Lisk Delegate Monitor
	if coin == 'SHIFT'
		title Shift Delegate Monitor

	//- meta(http-equiv="X-UA-Compatible", content="IE=edge")
	//- meta(name="viewport", content="width=device-width, initial-scale=1")

	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	link(rel='stylesheet', href='https://bootswatch.com/flatly/bootstrap.min.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
	
	style.
		.navbar { border-radius: 0px !important; }
		.panel-heading {
			padding: 6px 15px;
		}
