p Hi, I'm Davide (dakk is my delegate name, 2324852447570841050L is my delegate address); if you like this project and my other projects, and you want new fresh projects for the lisk ecosystem, your vote is appreciated.

p Thanks for all my voters: 
    each v in donationVotes
        span= v + ' '
