html
	include ./includes/head.jade
	body
		include ./includes/nav.jade
		div.container(id="stats")
			span Loading...

		include ./includes/footer.jade

		script.
			$("#stats").load("/stats");
			setTimeout (function () {
				$("#stats").load("/stats");
			}, 10000);